<h2>Music Genres</h2>
<h3>Add Genre:</h3>

<form ng-submit="gc.addGenreToDb(gc.genreToAdd)">
    <input class="inputfield" type="text" ng-model="gc.genreToAdd.type" placeholder="enter new music genre here">
    <button class="button" type="submit">Add Genre</button>
</form>


<table>
    <tbody>
        <th>Genre Type</th>
        <th>Total Albums</th>
        <th>Actions</th>
        <tr ng-repeat="genre in gc.genre.list">
            <td>{{genre.type}}</td>
            <td>{{genre.current_music}}</td>
            <td><button ng-click="gc.deleteGenre(genre)">Delete Entry</button></td>
        </tr>
    </tbody>
</table>