<h2>Music Collection</h2>
<h5>Add Album:</h5>

<form ng-submit="mc.addAlbum(mc.albumToAdd)">
    <input class="inputfield" type="text" ng-model="mc.albumToAdd.title" placeholder="enter title of album here">
    <input class="inputfield" type="text" ng-model="mc.albumToAdd.artist" placeholder="enter name of artist here">  
    <!--<md-datepicker ng-model="ctrl.myDate" md-current-view="year" md-placeholder="enter release date"></md-datepicker>-->
    <select ng-model="mc.albumToAdd.genre">
            <option value="">---Please select---</option>
            <option value="pop">pop</option>
            <option value="rock">rock</option>
            <option value="electronic">electronic</option>
            <option value="indie">indie</option>     
        </select>
    <input class="inputfield" type="text" ng-model="mc.albumToAdd.image_url" placeholder="enter image url here">
    <button class="button" type="submit">Add Album</button>
    <!--<md-button class="md-raised md-warn" type="submit">Submit</md-button>-->
</form>

<table>
    <tbody>
        <th>Album Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Image</th>
        <tr ng-repeat="album in mc.album.list">
            <td>{{album.title}}</td>
            <td>{{album.artist}}</td>
            <td>{{album.genre}}</td>
            <td><img ng-src="images/{{album.image-url}}"></td>
            
        </tr>
    </tbody>
</table>